{% extends 'base/base.html.twig' %}

{% block content %}

	<h3 class="text-center mt-5">Gestion des membres</h3>
<div class="container">
	<div class="row p-5">
        <a href="{{ path('membre_update') }}" class="btn btn-success">Ajouter un membre</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id du membre</th>
                    <th>Username</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                
					{% for mbre in membres %}
					<tr>
						<td>{{ mbre.id }}</td>
						<td>{{ mbre.username }}</td>
						<td>{{ mbre.prenom }}</td>
						<td>{{ mbre.nom }}</td>
						<td>{{ mbre.email }}</td>
						<td><a href="{{ path('membre_space', {'id' : mbre.id}) }}"><i class="fas fa-edit"></i></a></td>
						<td><a onclick="return confirm('Etes-vous certain de vouloir supprimer le membre {{ mbre.username }} ?')" href="{{ path('membre_delete', {'id' : mbre.id}) }}"><i class="fas fa-trash"></i></a></td>
					</tr>
					{% endfor %}

            </tbody>
        </table>
	</div>

	
{% endblock %}